<ion-view title="Home" id="page10">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-list id="home-list4">
      <ion-item class="item-avatar dark" id="home-list-item13">
        <h2dark>Profile
          <p>&lt; happy username here &gt;</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 44px;"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="menu.meuStash()" id="home-button1" style="left:-10px;color:#1A245A;font-size:40px;border-radius:0px 0px 0px 0px;" class="button button-stable button-large button-full icon-left ion-bag">Meu Stash</a>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="menu.capturar()" id="home-button3" style="left:-10px;color:#1A245A;font-size:40px;border-radius:0px 0px 0px 0px;" class="button button-stable button-large button-full icon-left ion-qr-scanner">Captura</a>
    </div>
    <div style="margin-right:-20px;">
      <button id="home-button4" style="left:-10px;color:#1A245A;font-size:40px;border-radius:0px 0px 0px 0px;" class="button button-stable button-large button-full icon-left ion-search">Buscar</button>
    </div>
    <div style="margin-right:-20px;">
      <button id="home-button5" style="left:-10px;color:#1A245A;font-size:40px;border-radius:0px 0px 0px 0px;" class="button button-stable button-large button-full icon-left ion-calendar">Agendar</button>
    </div>
  </ion-content>
</ion-view>
