<ion-view title="Meu Stash" id="page11">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <div>
      <span class="input-label"></span><h1 id="meuStash-timeleft" name="timeleft" class="icon stash_time_left" placeholder="timeleft">00:29</h1></label>
    </div>
    <div class='button_align_center'>
      <button id="meuStash-button13" style="font-weight:600;" class="button button-dark button-large button-extra-1 icon ion-android-lock"></button>
      <button id="meuStash-button14" style="font-weight:600;" class="button button-dark button-large button-extra-1 icon ion-arrow-up-a"></button>
    </div>
  </ion-content>
</ion-view>
